extends layout

block content
  .section
    h1.title #{title}
    br
    button(onclick="signin()") Login
  .section
    h2.title Search
      include searchfilter.pug
      include searchresults.pug
  .section
    h2.title Add a node
      include addnode.pug

  script.
    var lock = new Auth0Lock('#{env.AUTH0_CLIENT_ID}', '#{env.AUTH0_DOMAIN}', {
      auth: {
        redirectUrl: '#{env.AUTH0_CALLBACK_URL}'
        , responseType: 'code'
        , params: {
          scope: 'openid name email picture'
        }
      }
    });
    function signin() {
      lock.show();
    }
