nav.nav
  ul.nav-left
    li.nav-item
      a(class='button' href='/') Home
    li.nav-item
      a(class='button' href='./user') Profile
    li.nav-item
      a(class='button' href='./admin') Admin
    li.nav-item
      a(class='button' href='./schema') Schema
    li.nav-item
      a(class='button' href='./nodes') Nodes
    li.nav-item
      a(class='button' href='http://hobby-jchojlaijildgbkedoidgipl.dbs.graphenedb.com:24789/browser/') Graph Browser
    li.nav-item
      a(class='button' href='users') Users
    li.nav-item
      a(class='button' href='help') Help
